numpy
pandas
matplotlib
scikit-learn
statsmodels
pingouin
seaborn
scipy
nltk
tqdm
openpyxl
sqlalchemy
xgboost
lightgbm
pyarrow
plotly
bokeh
jupyter
ipykernel
ipython
ipywidgets
joblib
requests
flask
beautifulsoup4
lxml
torch
torchvision
torchaudio
huggingface-hub
transformers
tokenizers
sentencepiece
datasets
accelerate
diffusers
bitsandbytes
geopandas
wandb
Pillow
spacy
pydantic
